body {
    font-size: 100%;
    margin: 0 auto;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
.m {
    text-decoration: none;
}
.conteiner{
    margin: 0 auto;
    width: 960px;
}
.header{
    padding: 10px;
    margin: 0 auto;
    white-space: normal;
    background-size: 100%;
    background-image: url(../images/header.jpg)
}
.header h1, h3 {
    color: #FFFFFF;
    text-align: center;
}
.menu_form {
    margin:0;
}
.menu {
    margin: 0;
    background-color: #212121;
    min-height: 55px;
    color: #FFFFFF;
}
.menu form {
    text-align: center;
    padding-top: 15px;
}
.menu li {
    float: left;
    width: 100px;
}
.m {
    display: block;
    color: #9d9d9d;
    line-height: 4em;
    font-weight: bolt;
    text-align: center;
}
.m:hover {
    color: yellowgreen;
    background-color: #202020;
}
.content_box{
    margin: 0;
    min-height: 500px;
    background-color: cyan;
}
.content{
    padding: 10px;
    font-size: 14pt;
    margin: 0 auto;
    text-align: center;
    white-space: normal;
}
.footer {
    margin: 0;
    min-height: 90px;
    background-color: #212121;
}
.signature{
    color: white;
    text-align: center;
    padding-top: 70px;
    font-size: small;
    margin: 0;
}
.content img {
    padding: 10px;
    height: 550px;
    position: center;
}
